/* Universal Styles */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 100%;
  background-color: gray;
  color: black;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  opacity: 1;
  z-index: 50;
  align-items: center;
  /*border: 2px solid red;*/
}

header .content {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /*padding: 1.875rem;*/
  border: 2px solid green;
}

/*Contains both title words & logo*/
.title-container {
  display: flex;
  width: auto;
  height: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  border: 2px solid red;
}

/*Centers the logo with the title*/
header .logo {
  flex: 1;
  display: flex;
  height: 2rem;
  align-items: center;
  border: 2px solid green;
}

header .colmar {
  color: darkgrey;
}

header .academy {
  color: lightgrey;
}

header .desktop {
  display: flex;
  width: auto;
  justify-content: flex-end;
  margin-right: 1.5rem;
  border: 2px solid blue;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}

.center {
  text-align: center;  /*N*/
}

@media only screen and (min-width: 761px) and (max-width: 2000px) {
#main-container {
  display: flex;
  top: 6rem; /* To offset for fixed header. */
  width: 100%;
  flex-flow: column;
  border: 3px solid blue;
}

/*----------------------Banner & Sign-up Section*/
.start-here-container {
  display: flex;
  top: 6rem; /* To offset for fixed header. */
  width: 100%;
  height: 50rem;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  border: 2px solid yellow;
}

.banner {
  max-width: 60%;
  height: auto;
  overflow: hidden;
  margin: 2rem 1.5rem;
  border: 2px solid orange;
}

.banner img {
  display: block;
  max-width: 100%;
  height: auto;

}

.start-here-text {
  display: flex;
  width: 30%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border: 2px solid orange;
}

.start-here-text h1{
  font-size: 3rem;
  font-weight: bold;
  padding: 0.5rem;
}

.start-here-text p {
  font-size: 2rem;
  padding: 0.5rem;
}

.start-here-btn {
  margin-top: 1.625rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

/*------------------------------------Important Info Section*/
#important-info {
  display: flex;
  width: 100%;
  height: 50rem;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  border: 2px solid green;
}

#important-info .image-container {
  /*display: flex;*/
  max-width: 60%;
  height: auto;
  overflow: hidden;
  margin: 2rem 1.5rem;
  border: 2px solid yellow;
}

#important-info .image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

#important-info .description-container {
  max-width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  border: 2px solid purple;
}

#important-info .features-container {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  border: 2px solid green;
}

#important-info .features-container .image-container {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;

  border: 2px solid pink;
}

#important-info .features-container img {
display: block;
max-width: 35%;
height: auto;
}

#important-info .features-container .description-container {
  width: 35%;
  height: auto;
  /*margin: 2rem 1.5rem;*/
  border: 2px solid purple;
}

/*---------------------------------Courses Section*/
/*Photo-grid-container is PERFECT DON'T TOUCH*/
#course-container {
  display: flex;
  background-color: pink;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap;
  border: 2px solid purple;
}

#course-container  h1 {
  opacity: 1;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 2rem;
}

/*Photo-grid*/
#course-container .content {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 4.5rem;
  color: white;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid yellow;
}

/*Photo-grid-item*/
#course-container .image-container {
  display: flex;
  background-color: white;
  width: 30%;
  height: auto;
  flex-flow: column;
  margin-bottom: 2rem;
  border: 2px solid red;
}

#course-container  .description-container {
  opacity: 1;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  margin: 1rem;
  text-align: left;
  line-height: 1.4;
}

/*------------------------------------Important Info Section*/
#thesis-info {
  display: flex;
  width: 100%;
  height: 50rem;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-start;
  border: 2px solid green;
}

#thesis-info .image-container {
  /*display: flex;*/
  max-width: 60%;
  height: auto;
  overflow: hidden;
  margin: 2rem 1.5rem;
  border: 2px solid yellow;
}

#thesis-info .image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

#thesis-info .description-container {
  max-width: 60%;
  height: auto;
  margin: 2rem 1.5rem;
  border: 2px solid purple;
}

#thesis-info .features-container {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  border: 2px solid green;
}

#thesis-info .features-container .image-container {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;

  border: 2px solid pink;
}

#thesis-info .features-container img {
display: block;
max-width: 35%;
height: auto;
}

#thesis-info .features-container .description-container {
  width: 35%;
  height: auto;
  /*margin: 2rem 1.5rem;*/
  border: 2px solid purple;
}

/*Footer Section*/
footer {
  max-width: 100%;
  background-color: #9b9b9b;
  padding: 1.5rem 2rem;
}

footer .content {
  color: white;
  display: flex;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}


}



/*-----------------------------------------------------*/
/*Display Values for Tablet*/
@media only screen and (min-width: 471px) and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
    border-radius: 4px;
  }

  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }

  #features-section {
    flex-flow: row wrap;
    padding: 0;
  }

  #features-section .feature {
    margin: 0;
  }

 #features-section .center {
   display: flex;
   width: auto;
   height: auto;
   margin: 0;
   justify-content: center;
   align-content: center;
   flex-flow: column wrap;
  }

  #features-section .image-container {
    width: auto;
    height: auto;
    overflow: hidden;
  }

  #features-section  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

  .feature h2 {
    text-align: left;
    padding-right: 1.25rem;
  }

  .feature h3 {
    text-align: left;
    padding-right: 1.25rem;
  }

/*----------------------760-Filters Section*/
#filters-section {
  height: 14.75rem;
}

  #filters-section .images-container {
    width: 100%;
    height: 70%;
    padding: 0;
    /*border: 2px solid blue;*/
  }

  #filters-section .image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    /*border: 2px solid red;*/
  }

  #filters-section img{
    max-width: 100%;
    height: auto;
    display: block;
  }

  #quotes-section .content-center {
    height: auto;
    padding: 0 1rem 0 1rem;
    align-items: center;
  }

}


@media only screen and (max-width: 470px) {
  #sign-up-section {
    width: 100%;
    height: 20rem;
    display: block;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }

/*--------------------------------Feature Section for 470*/
  #features-section {
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    /*flex-flow: row wrap;*/
    padding: 0;
  }

  #features-section .feature {
    width: 100%;
    height: auto;
    margin: 0;
  }

  /*#features-section .center {
   display: flex;
   width: auto;
   height: auto;
   margin: 0;*/
   /*justify-content: center;
   align-content: center;
   flex-flow: column wrap;*/
  }

  /*#features-section .image-container {
    width: auto;
    height: auto;
    overflow: hidden;
  }*/

  #features-section  img {
   width: 100%;
   height: auto;
   display: block;
    margin: 0;
  }

  #features-section .feature h2 {
    text-align: center;
  }

 #features-section  .feature h3 {
    text-align: center;
  }

  /*----------------------470-Filters Section*/
  /*#filters-section {
  height: 7.35rem;
  margin-bottom: 4rem;
  }

  #filters-section .content-center h2{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }

  #filters-section .content-center h3{
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 3rem;
  }

  #filters-section .images-container {
    width: 100%;
    height: 90%;
    padding: 0;
    /*border: 2px solid blue;*/
  }

  #filters-section .image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    /*border: 2px solid red;*/
  }

  #filters-section img{
    max-width: 100%;
    height: auto;
    display: block;
  }

  #filters-section .extra {
    display: none;
  }*/

}
