/* Universal Styles */
html {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-kerning: auto;
  width: 100%;
  background-color: hsl(30, 50%, 85%);   /*Sandy background*/
  color: hsl(240, 100%, 20%); /*Dark Blue Font Color*/
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid  hsl(240, 100%, 20%);
  background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
  z-index: 50;
  align-items: center;
  box-shadow: 10px 10px 5px grey;
  /*border: 2px solid red;*/
}

header .content {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /*border: 2px solid green;*/
}

/*Contains both title words & logo*/
.title-container {
  display: flex;
  width: auto;
  height: 3.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  /*border: 2px solid red;*/
}

/*Centers the logo with the title*/
header .logo {
  flex: 1;
  display: flex;
  height: auto;
  align-items: center;
  /*border: 2px solid green;*/
}

.logo img {
  display: flex;
  height: 2rem;
  /*border: 2px solid green;*/
}

.colmar {
  color: hsl(240, 100%, 20%); /*Dark Blue Font*/
  font-size: 2rem;
  font-style: normal;
  text-shadow: 2px 2px 4px white;
}

.academy {
  color: hsla(240, 100%, 20%, 0.5); /*Light Blue Font*/
  font-size: 2rem;
  font-style: normal;
  text-shadow: 2px 2px 4px white;
}

header .desktop {
  display: flex;
  width: auto;
  justify-content: flex-end;
  margin-right: 1.5rem;
  /*border: 2px solid blue;*/
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: white;
  font-style: italic;
  font-weight: normal;
  text-shadow: 0px 0px 0px white;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}


@media only screen and (min-width: 47.5rem) and (max-width: 125rem) {
  #main-container {
    display: flex;
    width: 100%;
    flex-flow: column;
    /*border: 3px solid blue;*/
  }

  /*----------------------Banner & Sign-up Section*/
  .start-here-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    margin-top: 4rem;
    /*border: 2px solid yellow;*/
  }

  .start-here-content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    /*border: 2px solid black;*/
  }

  .banner {
    max-width: 60%;
    height: auto;
    overflow: hidden;
    margin: 2rem 1.5rem;
    box-shadow: 10px 10px 5px grey;
    /*border: 2px solid orange;*/
  }

  .banner img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .start-here-text {
    display: flex;
    max-width: 40%;
    max-height: 50rem;
    justify-content: center;
    margin-right: 1.5rem;
    align-items: center;
    flex-flow: column wrap;
    box-shadow: 10px 10px 5px grey;
    border: 1px solid hsl(30, 50%, 75%);   /*Sandy color*/
  }

  .start-here-text h1{
    font-family: 'Italianno', cursive;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px white;
    padding: 2rem;
  }

  .start-here-text p {
    font-size: 2rem;
    line-height: 1.4;
    margin: 1.5rem 2rem;
  }

  .start-here-btn {
    margin-top: 1.625rem;
    width: 0 auto;
    padding: 0.5rem 5rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    opacity: 1;
    border: 1px solid hsl(160, 30%, 50%);
    box-shadow: 5px 5px 5px grey;
  }

  .start-here-btn a {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
    /*color:  hsl(30, 100%, 75%);   /*Sandy background*/
  }

  .start-here-btn {
    margin-top: 1.625rem;
    width: 0 auto;
    padding: 0.5rem 5rem;
    border-radius: 4px;
    margin-bottom: 2rem;
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    opacity: 1;
    border: 1px solid hsl(160, 30%, 50%); /*Seagreen Border*/
    box-shadow: 5px 5px 5px grey;
  }

  .start-here-btn:hover {
    background-color: hsl(160, 30%, 80%); /*Seagreen Color*/
    text-decoration: underline;
  }

  a {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
  }

  /*a:active {
  color: 1px solid hsl(30, 50%, 75%);   /*Sandy color*/
  /*}*/


  /*------------------------------------Important Info Section*/
  #important-info {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    /*border: 1px solid black;*/
  }

  .info-content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-content: flex-start;
    /*border: 2px solid black;*/
  }

  .lrg-img-container {
    display: inline-block;
    max-width: 60%;
    height: auto;
    overflow: hidden;
    margin: 2rem 1.5rem;
    box-shadow: 10px 10px 10px grey;
    /*border: 2px solid yellow;*/
  }

  .lrg-img-container img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .lrg-descrip-container {
    max-width: 100%;
    height: auto;
    margin: 1rem 1.5rem;
    /*border: 2px solid purple;*/
  }

  .lrg-descrip-container h1{
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px white;
    /*border: 2px solid purple;*/
  }

  .lrg-descrip-container p {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  .features1-container {
    display: flex;
    max-width: 40%;
    height: auto;
    margin: 2rem 2rem 2rem 0;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid hsl(30, 50%, 75%);   /*Sandy color*/
  }

  .features1-container .last-item {
    background-color: white;
  }

  .features1-container .sm-img-container {
    display: flex;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    border-bottom:  1px solid  hsl(240, 100%, 20%);
    /*border: 2px solid orange;*/
  }

  .features1-container img {
    display: block;
    max-width: 35%;
    height: auto;
    border: 1px solid hsl(240, 100%, 20%);
  }

  .features1-container .sm-descrip-container {
    display: flex;
    max-width: 60%;
    height: auto;
    flex-flow: column wrap;
    padding-top: 2rem;
    /*border: 2px solid purple;*/
  }

  .features1-container .sm-descrip-container h2{
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px white;
    margin-left: 2rem;
    /*border: 2px solid purple;*/
  }

  .features1-container .sm-descrip-container p {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  .features1-container .sm-descrip-container a {
    font-size: 1.5rem;
    font-weight: normal;
    opacity: 1;
    font-style: italic;
    padding: .5rem  1rem;
    margin: 2rem 1rem;
    color: hsl(160, 30%, 70%); /*Seagreen Color*/
    background-color: hsl(245, 100%, 20%); /*Dark Blue Font*/
    text-align: right;
    align-self: flex-end;
    border-radius: 4px;
    border: 1px solid hsl(245, 100%, 10%);
    box-shadow: 5px 5px 5px grey;
    text-shadow: 0px 0px 0px white;
  }

  .features1-container .sm-descrip-container a:hover {
    color: hsl(245, 100%, 20%); /*Dark Blue Font*/
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
  }

  /*---------------------------------Courses Section*/
  /*Photo-grid-container is PERFECT DON'T TOUCH*/
  #course-container {
    display: flex;
    background-color: hsl(160, 30%, 70%);   /*Seagreen color*/
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-content: flex-start;
    flex-flow: row wrap;
    /*border: 2px solid purple;*/
  }

  #course-container  h1 {
    font-family: 'Italianno', cursive;
    opacity: 1;
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem;
    text-shadow: 2px 2px 3px white;
  }

  /*Photo-grid*/
  #course-container .content {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 4.5rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    /*border: 2px solid yellow;*/
  }

  /*Photo-grid-item*/
  #course-container .image-container {
    display: flex;
    width: 30%;
    height: 25.25rem;
    flex-flow: column;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid hsl(240, 100%, 20%);
    background-color: hsla(240,100%, 20%, 0.5);
    /*border: 2px solid red;*/
  }

  #course-container .image-container:hover {
    border: 3px solid hsl(30, 50%, 75%);   /*Sandy color*/
  }

  #course-container .image-container img{
    border-bottom:  1px solid  hsl(240, 100%, 20%);
    /*border: 2px solid red;*/
  }

  #course-container  .description-container {
    opacity: 1;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin: .5rem;
    text-align: center;
    line-height: 1.4;
  }

  #course-container h2 {
    font-size: 2rem;
  }

  #course-container p {
    font-style: italic;
    margin: .5rem;
  }

  /*------------------------------------Thesis Info Section*/
  #thesis-info {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
    /*border: 2px solid black;*/
  }

  .thesis-content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-content: flex-start;
    /*border: 2px solid black;*/
  }

  #thesis-info  h1 {
    opacity: 1;
    font-family: 'Italianno', cursive;
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
    text-shadow: 2px 2px 3px white;
  }

  .vid-container {
    display: inline-block;
    max-width: 60%;
    height: auto;
    overflow: hidden;
    margin: 2rem 1.5rem;
    box-shadow: 10px 10px 10px grey;
    /*border: 2px solid yellow;*/
  }

  .vidport {
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
  }

  .vid-descrip-container {
    max-width: 100%;
    height: auto;
    margin: 2rem 1.5rem;
    text-align: left;
  }

  .vid-descrip-container h1{
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px white;
  }

  .vid-descrip-container p {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  .features-container {
    display: flex;
    max-width: 35%;
    height: auto;
    margin: 2rem 2rem 2rem 0;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid hsl(30, 50%, 75%);   /*Sandy color*/
  }

  .features-container .first-item {
    background-color: white;
  }

  .sm-image-container {
    display: flex;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    /*border: 2px solid orange;*/
  }

  .features-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 2px solid hsl(240, 100%, 20%);
  }

  .sm-description-container {
    display: flex;
    width: 65%;
    height: auto;
    flex-flow: column wrap;
    text-align: left;
    justify-content: center;
    border-bottom:  1px solid  hsl(240, 100%, 20%);
    /*border: 2px solid purple;*/
  }

  .sm-description-container h2{
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 3px white;
    margin-left: 2rem;
    /*border: 2px solid purple;*/
  }

  .sm-description-container p {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  /*-----------------------------Footer Section*/
  footer {
    max-width: 100%;
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    padding: 1.5rem 2rem;
    border-top: 1px solid  hsl(240, 100%, 20%);
  }

  footer .content {
    color: white;
    font-style: italic;
    display: flex;
    font-size: 1rem;
    margin-right: auto;
  }

  footer .copyright {
    flex-grow: 1;
  }

  footer .terms {
    margin-right: 1rem;
  }

}


/*-----------------------------------------------------*/
/*Display Values for Tablet & Mobile*/
@media only screen and (min-width: 20rem) and (max-width: 47.5rem) {
/*@media only screen and (max-width: 470px) {*/
  .main-container {
    top: 2.5625rem;
  }

  header .desktop {
    display: none;
  }

  .title-container {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }


.home:hover {
  border-radius: 5px;
  /*padding: .5rem;*/
  background-color: hsl(30, 50%, 85%);   /*Sandy color*/
  transition: color 2s ease-in;
}

.campus:hover {
  border-radius: 5px;
  /*padding: .5rem;*/
  background-color: hsl(30, 50%, 85%);   /*Sandy color*/
  transition: color 2s ease-in;
}

.online:hover {
  border-radius: 5px;
  /*padding: .5rem;*/
  background-color: hsl(30, 50%, 85%);   /*Sandy color*/
  transition: color 2s ease-in;
}

.login:hover {
  border-radius: 5px;
  /*padding: .5rem;*/
  background-color: hsl(30, 50%, 85%);   /*Sandy color*/
  transition: color 2s ease-in;
}


  /*----------------------------------470 Banner & Start Section*/
  .start-here-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: 2px solid yellow;*/
  }

  .banner img {
    width: 100%;
  }

  .start-here-text {
    max-width: 100%;
    height: auto;
    text-align: center;
    margin: 2rem 0;
    /*border-bottom:  1px solid  hsl(240, 100%, 20%);*/
  }

  .start-here-text h1 {
    font-family: 'Italianno', cursive;
    font-size: 3rem;
  }

  .start-here-text p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 1rem 0;
  }

  .start-here-btn {
    margin-top: 2rem;
    padding: 0.5rem 5rem;
    border-radius: 4px;
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    border: 1px solid hsl(160, 30%, 50%); /*Seagreen Border*/
    box-shadow: 5px 5px 5px grey;
  }

  .start-here-btn:hover {
    background-color: hsl(160, 30%, 80%); /*Seagreen Color*/
    text-decoration: underline;
  }

  a {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
  }

  /*----------------------------------470 Features1 Section*/
  #important-info {
  flex-direction: column;
  align-content: center;
  /*border: 3px solid black;*/
}

  #important-info .lrg-img-container {
    display: none;
  }

  .features1-container {
    max-width: 100%;
    border-top:  1px solid  hsl(240, 100%, 20%);
    /*border: 2px solid green;*/
  }

  .features1-container .sm-img-container {
    border-bottom:  1px solid  hsl(240, 100%, 20%);
    /*border: 2px solid blue;*/
  }

  .features1-container  img {
    width: 100%;
    margin-top: 2rem;
    border: 1px solid hsl(240, 100%, 20%);*/
  }

  .features1-container .sm-descrip-container {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    text-align: center;
    /*border: 2px solid purple;*/
  }

  .features1-container .sm-descrip-container h2{
    font-family: 'Italianno', cursive;
    font-size: 2rem;
    margin: 1rem;
    /*border: 2px solid purple;*/
  }

  .features1-container .sm-descrip-container p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    /*padding: 1.5rem 0 1.5rem 2rem;*/
  }

  .features1-container .sm-descrip-container a {
    font-size: 1rem;
    padding: .5rem  1rem;
    margin-bottom: 2rem;
    color: hsl(160, 30%, 70%); /*Seagreen Color*/
    background-color: hsl(245, 100%, 20%); /*Dark Blue Font*/
    border-radius: 4px;
    border: 1px solid hsl(245, 100%, 10%);
    box-shadow: 5px 5px 5px grey;
    text-shadow: 0px 0px 0px white;
  }

  .features1-container .sm-descrip-container a:hover {
    color: hsl(245, 100%, 20%); /*Dark Blue Font*/
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
  }

  /*----------------------------------470 Course Section*/
  #course-container {
    width: 100%;
    flex-direction: column;
    /*border: 2px solid purple;*/
  }

  #course-container  h1 {
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    /*text-shadow: 2px 2px 3px white;*/
  }

  #course-container .image-container img {
    display: none;
  }

  #course-container  .description-container {
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    color: #000;
    margin: .5rem;
    padding: .5rem;
    text-align: center;
    line-height: 1.4;
    border-radius: 4px;
  }

  #course-container  .description-container:hover {
    background-color: hsl(245, 100%, 20%); /*Dark Blue Font*/
    color: hsl(160, 30%, 70%); /*Seagreen Color*/
  }


  #course-container h2 {
    font-size: 1.5rem;
  }

  #course-container p {
    display: none;
  }

  /*----------------------------------470 Thesis Section*/
  #thesis-info {
    flex-direction: column;
    margin: 2rem 0 2.5rem 0;
    border-top: 1px solid hsl(245, 100%, 10%);
  }

  #thesis-info  h1 {
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .vid-container {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 2rem 0 2.5rem 0;
  }

  .vidport {
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
  }

  .vid-descrip-container {
    display: none;
  }

  .features-container {
    display: none;
  }

  footer {
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    padding: 1rem;
    border-top: 1px solid  hsl(240, 100%, 20%);
  }

  footer .copyright {
    flex-grow: 1;
  }

  .terms,
  .privacy {
    display: none;
  }

}
