/* Universal Styles */
html {
  font-family: "Palatino", serif;
  font-size: 16px;
  width: 100%;
  background-color: hsl(30, 100%, 75%);   /*Sandy background*/
  color: hsl(240, 100%, 20%); /*Dark Blue Font Color*/
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  border-bottom:  1px solid  hsl(240, 100%, 20%);
  background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
  z-index: 50;
  align-items: center;
  box-shadow: 10px 10px 5px grey;
  /*border: 2px solid red;*/
}

header .content {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /*border: 2px solid green;*/
}

/*Contains both title words & logo*/
.title-container {
  display: flex;
  width: auto;
  height: 3.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  /*border: 2px solid red;*/
}

/*Centers the logo with the title*/
header .logo {
  flex: 1;
  display: flex;
  height: auto;
  align-items: center;
  /*border: 2px solid green;*/
}

header .colmar {
  color: hsl(240, 100%, 20%); /*Dark Blue Font*/
  font-size: 2rem;
  text-shadow: 2px 2px 4px white;
}

header .academy {
  color: hsla(240, 100%, 20%, 0.5); /*Light Blue Font*/
  font-size: 2rem;
  text-shadow: 2px 2px 4px white;
}

header .desktop {
  display: flex;
  width: auto;
  justify-content: flex-end;
  margin-right: 1.5rem;
  /*border: 2px solid blue;*/
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: white;
  font-style: italic;
}

header .icon {
  width: 1rem;
  padding-left: .75rem;
}

header .mobile {
  display: none;
}


@media only screen and (min-width: 761px) and (max-width: 2000px) {
  #main-container {
    display: flex;
    width: 100%;
    flex-flow: column;
    /*border: 3px solid blue;*/
  }

  /*----------------------Banner & Sign-up Section*/
  .start-here-container {
    display: flex;
    width: 100%;
    height: 50rem;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    margin-top: 4rem;
    /*border: 2px solid yellow;*/
  }

  .banner {
    max-width: 60%;
    height: auto;
    overflow: hidden;
    margin: 2rem 1.5rem;
    box-shadow: 10px 10px 5px grey;
    /*border: 2px solid orange;*/
  }

  .banner img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .start-here-text {
    display: flex;
    width: 30%;
    height: 37rem;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    /*background-color: hsla(240, 100%, 20%, 0.5);*/
    /*linear-gradient (to right, rgba(255, 0, 0, 0), rgba(160, 0, 0, 1)); /*Seagreen Color*/
    box-shadow: 10px 10px 5px grey;
    border: 1px solid hsl(30, 100%, 65%);   /*Sandy color*/
  }

  .start-here-text h1{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 3px white;
    padding: 2rem;
  }

  .start-here-text p {
    font-size: 2rem;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  .start-here-btn {
    margin-top: 1.625rem;
    width: 0 auto;
    padding: 0.5rem 5rem;
    border-radius: 4px;
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    opacity: 1;
    border: 1px solid hsl(160, 30%, 50%);
    box-shadow: 5px 5px 5px grey;
  }

  .start-here-btn a {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
    /*color:  hsl(30, 100%, 75%);   /*Sandy background*/
  }

  /*------------------------------------Important Info Section*/
  #important-info {
    display: flex;
    width: 100%;
    height: 50rem;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    /*border: 1px solid black;*/
  }

  .lrg-img-container {
    display: inline-block;
    max-width: 60%;
    height: auto;
    overflow: hidden;
    margin: 2rem 1.5rem;
    box-shadow: 10px 10px 10px grey;
    /*border: 2px solid yellow;*/
  }

  .lrg-img-container img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .lrg-descrip-container {
    max-width: 60%;
    height: auto;
    margin: 1rem 1.5rem;
    /*border: 2px solid purple;*/
  }

  .lrg-descrip-container h1{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 3px white;
    /*border: 2px solid purple;*/
  }

  .lrg-descrip-container p {
    font-size: 1.5rem;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  .features1-container {
    display: flex;
    max-width: 33%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid hsl(30, 100%, 65%);   /*Sandy color*/
  }

  .features1-container .sm-img-container {
    display: flex;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    /*border: 2px solid orange;*/
  }

  .features1-container img {
    display: block;
    width: 35%;
    height: 35%;
    border: 1px solid hsl(240, 100%, 20%);
  }

  .features1-container .sm-descrip-container {
    display: flex;
    width: 70%;
    height: inherit;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    /*border: 2px solid purple;*/
  }

  .features1-container .sm-descrip-container h2{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 3px white;
    margin-left: 2rem;
    /*border: 2px solid purple;*/
  }

  .features1-container .sm-descrip-container p {
    font-size: 1.5rem;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  .features1-container .sm-descrip-container a {
    font-size: 1.5rem;
    font-style: italic;
    padding: .5rem  1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    color: hsl(160, 30%, 70%); /*Seagreen Color*/
    background-color: hsl(245, 100%, 20%); /*Light Blue Font*/
    text-align: right;
    align-self: flex-end;
    border-radius: 4px;
    border: 1px solid hsl(245, 100%, 10%);
    box-shadow: 5px 5px 5px grey;
  }

  /*---------------------------------Courses Section*/
  /*Photo-grid-container is PERFECT DON'T TOUCH*/
  #course-container {
    display: flex;
    background-color: hsl(160, 30%, 70%);   /*Seagreen color*/
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-content: flex-start;
    flex-flow: row wrap;
    /*border: 2px solid purple;*/
  }

  #course-container  h1 {
    opacity: 1;
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem;
    font-style: italic;
    text-shadow: 2px 2px 3px white;
  }

  /*Photo-grid*/
  #course-container .content {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 4.5rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    /*border: 2px solid yellow;*/
  }

  /*Photo-grid-item*/
  #course-container .image-container {
    display: flex;
    width: 30%;
    height: 25.25rem;
    flex-flow: column;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid hsl(240, 100%, 20%);
    background-color: hsla(240,100%, 20%, 0.5);
    /*border: 2px solid red;*/
  }

  #course-container .image-container img{
    /*border-bottom: 2px solid hsl(hsl(160, 30%, 70%);   /*Sandy background*/
    /*border: 2px solid red;*/
  }

  #course-container  .description-container {
    opacity: 1;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin: .5rem;
    text-align: center;
    line-height: 1.4;
  }

  #course-container h2 {
    font-size: 2rem;
  }

  #course-container p {
    font-style: italic;
    margin: .5rem;
  }

  /*------------------------------------Thesis Info Section*/
  #thesis-info {
    display: flex;
    width: 100%;
    height: 70rem;
    text-align: center;
    justify-content: center;
    align-content: flex-start;
    flex-flow: column wrap;
    /*border: 2px solid black;*/
  }

  #thesis-info  h1 {
      opacity: 1;
      font-size: 3rem;
      font-weight: bold;
      margin: 2rem;
      font-style: italic;
      text-shadow: 2px 2px 3px white;
    }

  .vid-container {
    display: inline-block;
    max-width: 60%;
    height: auto;
    /*overflow: hidden;*/
    margin: 2rem 1.5rem;
    box-shadow: 10px 10px 10px grey;
    /*border: 2px solid yellow;*/
  }

  .vidport {
    display: block;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
  }

 .vid-descrip-container {
    max-width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
    text-align: left;
  }

  .vid-descrip-container h1{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 3px white;
  }

  .vid-descrip-container p {
    font-size: 1.5rem;
    padding: 1.5rem 0 1.5rem 2rem;
  }

  .features-container {
    display: flex;
    max-width: 35%;
    height: auto;
    flex-direction: column;
    /*flex-flow: column wrap;*/
    justify-content: space-between;
    box-shadow: 10px 10px 10px grey;
    border: 1px solid hsl(30, 100%, 65%);   /*Sandy color*/
  }

 .sm-image-container {
   display: flex;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 1rem;
    /*border: 2px solid orange;*/
  }

  .features-container img {
    display: block;
    max-width: 35%;
    height: 35%;
    border: 2px solid hsl(240, 100%, 20%);
  }

  .sm-description-container {
    display: flex;
    width: 100%;
    height: inherit;
    flex-flow: column wrap;
    text-align: left;
    justify-content: center;
    /*border: 2px solid purple;*/
  }

  .sm-description-container h2{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 3px white;
    margin-left: 2rem;
    /*border: 2px solid purple;*/
  }

 .sm-description-container p {
    font-size: 1.5rem;
    padding: 1.5rem 0 1.5rem 2rem;
  }



  /*Footer Section*/
  footer {
    max-width: 100%;
    background-color: hsl(160, 30%, 70%); /*Seagreen Color*/
    padding: 1.5rem 2rem;
    border-top: 1px solid  hsl(240, 100%, 20%);
  }

  footer .content {
    color: white;
    font-style: italic;
    display: flex;
    font-size: 1rem;
    margin-right: auto;
  }

  footer .copyright {
    flex-grow: 1;
  }

  footer .terms {
    margin-right: 1rem;
  }

}



/*-----------------------------------------------------*/
/*Display Values for Tablet*/
@media only screen and (min-width: 471px) and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }

  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  header .mobile .button {
    padding: .1875rem .5rem;
    background-color: #9dc20b;
    line-height: 1.6;
    color: white;
    border-radius: 4px;
  }

  #sign-up-section {
    align-items: center;
    justify-content: center;
    height: 28rem;
  }

  #sign-up-cta {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }

  #sign-up-cta .content {
    margin-top: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }

  #features-section {
    flex-flow: row wrap;
    padding: 0;
  }

  #features-section .feature {
    margin: 0;
  }

  #features-section .center {
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
  }

  #features-section .image-container {
    width: auto;
    height: auto;
    overflow: hidden;
  }

  #features-section  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

  .feature h2 {
    text-align: left;
    padding-right: 1.25rem;
  }

  .feature h3 {
    text-align: left;
    padding-right: 1.25rem;
  }

  /*----------------------760-Filters Section*/
  #filters-section {
    height: 14.75rem;
  }

  #filters-section .images-container {
    width: 100%;
    height: 70%;
    padding: 0;
    /*border: 2px solid blue;*/
  }

  #filters-section .image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    /*border: 2px solid red;*/
  }

  #filters-section img{
    max-width: 100%;
    height: auto;
    display: block;
  }

  #quotes-section .content-center {
    height: auto;
    padding: 0 1rem 0 1rem;
    align-items: center;
  }

}


@media only screen and (max-width: 470px) {
  #sign-up-section {
    width: 100%;
    height: 20rem;
    display: block;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }

  /*--------------------------------Feature Section for 470*/
  #features-section {
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    /*flex-flow: row wrap;*/
    padding: 0;
  }

  #features-section .feature {
    width: 100%;
    height: auto;
    margin: 0;
  }

  /*#features-section .center {
  display: flex;
  width: auto;
  height: auto;
  margin: 0;*/
  /*justify-content: center;
  align-content: center;
  flex-flow: column wrap;*/
}

/*#features-section .image-container {
width: auto;
height: auto;
overflow: hidden;
}*/

#features-section  img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

#features-section .feature h2 {
  text-align: center;
}

#features-section  .feature h3 {
  text-align: center;
}

/*----------------------470-Filters Section*/
/*#filters-section {
height: 7.35rem;
margin-bottom: 4rem;
}

#filters-section .content-center h2{
font-size: 1.25rem;
margin-bottom: 2rem;
margin-top: 0;
}

#filters-section .content-center h3{
font-size: 1rem;
line-height: 1.4;
margin-bottom: 3rem;
}

#filters-section .images-container {
width: 100%;
height: 90%;
padding: 0;
/*border: 2px solid blue;*/
}

#filters-section .image-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  /*border: 2px solid red;*/
}

#filters-section img{
  max-width: 100%;
  height: auto;
  display: block;
}

#filters-section .extra {
  display: none;
  }*/

}
